$border-radius-base: 3px;
$tag-font-size: 12px;

@mixin color($name, $color, $bgColor) {
  &.#{$name} {
    color: $color;
    background: $bgColor;

    &.border {
      border: 1px solid rgba($color: $color, $alpha: 0.6);
    }
  }
}

.tag {
  border-radius: $border-radius-base;
  cursor: default;
  display: inline-block;
  font-size: $tag-font-size;
  height: auto;
  line-height: 1;
  margin-right: 8px;
  opacity: 1;
  padding: 4px 8px;
  transition: all 0.3s;
  white-space: nowrap;

  &:hover {
    opacity: 0.8;
  }

  @include color(default, #333, #eee);
  @include color(green, #4dc313, #f3ffe6);
  @include color(blue, #279eff, #eef7ff);
  @include color(red, #ea5252, #fbefef);
  @include color(orange, #ff9d2a, #fff7ee);
}
