.input {
  height: 32px;
  color: #262626;
  font-size: 14px;
  font-style: normal;
  line-height: 32px;
  background-color: #f4f5f7;
  border: 1px solid transparent;
  padding: 0 10px;
  box-sizing: border-box;
  border-radius: 3px;

  &:hover {
    background-color: #f0f0f0;
  }

  &:focus {
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 2px #3087f8;
  }
}
