.input {
  background-color: #f4f5f7;
  border-radius: 3px;
  border: 1px solid transparent;
  box-sizing: border-box;
  color: #262626;
  font-size: 14px;
  font-style: normal;
  height: 32px;
  line-height: 32px;
  outline: 0;
  padding: 0 8px;
  font-family: arial, sans-serif;

  &::placeholder {
    color: #999;
  }

  &:placeholder-shown {
    text-overflow: ellipsis;
  }

  &[disabled] {
    color: rgba(0, 0, 0, 0.4);
    background: #e9e9e9;
    cursor: not-allowed;
  }

  &.small {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
  }

  &.large {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }

  &:hover {
    background-color: #f0f0f0;
  }

  &:focus {
    background-color: #fff;
    box-shadow: 0 0 0 2px #3087f8;
  }
}
