.button {
  background: #f4f5f7;
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-variant: normal;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  margin: 0;
  outline: 0;
  padding: 0 10px;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;

  // Size
  &.large {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }

  &.small {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
  }

  // Primary
  &.primary {
    color: white;
    background: #3087f8;

    &:hover {
      color: white;
      background: #5a9ef7;
    }

    &:focus {
      box-shadow: 0 0 0 1px white, 0 0 0 3px #3087f8;
    }

    &:active {
      background: #347bd8;
    }
  }

  // Normal
  &:hover {
    background: #ebecf0;
    border: none;
    color: #555;
  }

  &:focus {
    box-shadow: 0 0 0 2px #3087f8;
  }

  &:active {
    background: #cccdcf;
  }
}
