.button {
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-variant: normal;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  margin: 0;
  outline: 0;
  padding: 0 12px;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  font-family: arial, sans-serif;

  // Size
  &.large {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
  }

  &.small {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
  }

  &[disabled] {
    cursor: not-allowed;
    text-decoration: none;
  }

  &.default {
    background: #f4f5f7;
    color: #333;

    &:hover {
      background: #ebecf0;
      border: none;
      color: #555;
    }

    &:focus {
      box-shadow: 0 0 0 2px #3087f8;
    }

    &:active {
      background: #cccdcf;
    }

    &[disabled] {
      background: rgba(84, 87, 92, 0.1);
      color: rgb(167, 172, 180);
    }
  }

  &.text {
    // color: #3087f8;
    color: #333;
    background: transparent;

    &:hover {
      background: #ebecf0;
      border: none;
      color: #444;
    }

    &:active {
      background: #cccdcf;
    }

    &:focus {
      box-shadow: 0 0 0 2px #3087f8;
    }

    &[disabled] {
      color: rgb(171, 171, 171);
    }
  }

  // Primary
  &.primary {
    color: white;
    background: #3087f8;

    &:hover {
      color: white;
      background: #5a9ef7;
    }

    &:focus {
      box-shadow: 0 0 0 1px white, 0 0 0 3px #3087f8;
    }

    &:active {
      background: #347bd8;
    }

    &[disabled] {
      color: rgba(255, 255, 255, 0.95);
      background: rgb(107, 163, 255);
    }
  }

  &.secondary {
    color: #1f69ca;
    background: transparent;

    &:hover {
      background: rgba(9, 30, 66, 0.06);
    }

    &:focus {
      box-shadow: 0 0 0 2px #3087f8;
    }

    &:active {
      color: rgb(0, 82, 204);
      background: rgba(179, 212, 255, 0.6);
    }

    &[disabled] {
      color: #3087f8af;
    }
  }
}
