.button {
  background: #f4f5f7;
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  font-variant: normal;
  font-weight: normal;
  height: 32px;
  line-height: 32px;
  margin: 0;
  outline: 0;
  padding: 0 10px;
  text-decoration: none;
  vertical-align: baseline;
  white-space: nowrap;

  &.primary {
    color: white;
    background: #398af3;
  }

  &:active {
    background: #222;
  }

  &:hover {
    background: #ebecf0;
    border: none;
    color: #555;
  }

  &:focus {
    box-shadow: 0 0 0 2px #4c9aff;
  }
}
