.nav {
  background: #f2f2f2;
  padding: 12px;
  min-width: 220px;

  ul {
    margin: 0;
    padding: 0;
  }

  &-item {
    font-size: 16px;
    color: #333;
    padding: 8px 12px;
    border-radius: 3px;

    &:hover {
      background: #e9e9e9;
    }

    &:active {
      background: #cacace;
    }
  }
}
